@inherits LayoutComponentBase
@using Booktique.Components.Pages
@using Booktique.Models.Services
@inject CartService cartService

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 d-flex justify-content-end">
            <AuthorizeView Roles="Administrator">
                <div class="nav-item px-3">
                    <a class="btn btn-outline-light hover-dark-text" href="/admin/dashboard">
                        <span class="bi bi-list-nested-nav-menu"></span> Dashboard
                    </a>
                </div>
            </AuthorizeView>
            <AuthorizeView Roles="User">
                <Authorized>
                    <a class="btn btn-outline-light hover-dark-text" href="/cart">
                        <span class="bi bi-cart3"></span> Cart
                        @if (cartService.Items.Any())
                        {
                            <span class="badge bg-danger rounded-pill">@cartService.Items.Sum(i => i.Quantity)</span>
                        }
                    </a>
                </Authorized>
            </AuthorizeView>

            <AuthorizeView>
                <Authorized>
                    <div class="dropdown">
                        <button class="btn btn-outline-light dropdown-toggle text-brown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            @context.User.Identity?.Name
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item hover-dark-text" href="/profile">Profile</a></li>
                            <li><a class="dropdown-item text-danger" href="/logout">Logout</a></li>
                        </ul>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <a href="/login" class="btn btn-outline-light hover-dark-text">Login</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private bool _isInitialized = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _isInitialized = true;
            await cartService.LoadCartAsync();
            StateHasChanged();
        }
    }

    protected override void OnInitialized()
    {
        cartService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        cartService.OnChange -= StateHasChanged;
    }
}