USE [master]
GO
/****** Object:  Database [BooktiqueDb]    Script Date: 02.06.2026 17:36:22 ******/
CREATE DATABASE [BooktiqueDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BooktiqueDb', FILENAME = N'C:\Users\Ami\BooktiqueDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BooktiqueDb_log', FILENAME = N'C:\Users\Ami\BooktiqueDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BooktiqueDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BooktiqueDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 02.06.2026 17:36:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AIInteraction]    Script Date: 02.06.2026 17:36:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AIInteraction](
	[AIInteractionId] [int] IDENTITY(1,1) NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
	[UserQuestion] [nvarchar](max) NOT NULL,
	[AIResponse] [nvarchar](max) NOT NULL,
	[BookId] [int] NULL,
	[UserId] [int] NULL,
 CONSTRAINT [PK_AIInteraction] PRIMARY KEY CLUSTERED 
(
	[AIInteractionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[book]    Script Date: 02.06.2026 17:36:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[book](
	[BookId] [int] IDENTITY(1,1) NOT NULL,
	[BookTitle] [nvarchar](1000) NOT NULL,
	[BookAuthor] [nvarchar](100) NOT NULL,
	[BookDescription] [nvarchar](max) NOT NULL,
	[BookYear] [int] NOT NULL,
	[BookNumberPag] [int] NOT NULL,
	[BookPublishingHouse] [nvarchar](1000) NOT NULL,
	[BookCategory] [nvarchar](1000) NOT NULL,
	[BookLanguage] [nvarchar](1000) NOT NULL,
	[BookStock] [int] NOT NULL,
	[BookPrice] [decimal](18, 2) NOT NULL,
	[BookCoverPath] [nvarchar](max) NULL,
	[BookRating] [int] NOT NULL,
	[Condition] [nvarchar](max) NULL,
	[DatePosted] [datetime2](7) NOT NULL,
	[SellerId] [int] NULL,
	[BookPreviewPath] [nvarchar](max) NULL,
 CONSTRAINT [PK_book] PRIMARY KEY CLUSTERED 
(
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatMessage]    Script Date: 02.06.2026 17:36:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatMessage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SenderId] [int] NULL,
	[ReceiverId] [int] NULL,
	[Text] [nvarchar](max) NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
	[IsRead] [bit] NOT NULL,
 CONSTRAINT [PK_ChatMessage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favorite]    Script Date: 02.06.2026 17:36:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorite](
	[FavoriteId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[BookId] [int] NOT NULL,
	[FolderId] [int] NULL,
 CONSTRAINT [PK_Favorite] PRIMARY KEY CLUSTERED 
(
	[FavoriteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Folder]    Script Date: 02.06.2026 17:36:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Folder](
	[FolderId] [int] IDENTITY(1,1) NOT NULL,
	[FolderName] [nvarchar](max) NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_Folder] PRIMARY KEY CLUSTERED 
(
	[FolderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 02.06.2026 17:36:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[NotificationId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[TargetUrl] [nvarchar](max) NULL,
	[OrderId] [int] NULL,
 CONSTRAINT [PK_Notification] PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 02.06.2026 17:36:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[UserId] [int] NOT NULL,
	[City] [nvarchar](100) NOT NULL,
	[PaymentMethod] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](20) NOT NULL,
	[ShippingAddress] [nvarchar](500) NOT NULL,
	[LastUpdated] [datetime2](7) NOT NULL,
	[Status] [int] NOT NULL,
	[SellerId] [int] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItem]    Script Date: 02.06.2026 17:36:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[OrderItemId] [int] IDENTITY(1,1) NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[OrderId] [int] NOT NULL,
	[BookId] [int] NOT NULL,
 CONSTRAINT [PK_OrderItem] PRIMARY KEY CLUSTERED 
(
	[OrderItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 02.06.2026 17:36:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[ReviewId] [int] IDENTITY(1,1) NOT NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[GuestName] [nvarchar](max) NULL,
	[BookId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_Review] PRIMARY KEY CLUSTERED 
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 02.06.2026 17:36:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NULL,
	[Password] [nvarchar](100) NULL,
	[Role] [nvarchar](20) NULL,
	[UserEmail] [nvarchar](100) NULL,
	[IsSubscribed] [int] NOT NULL,
	[ProfilePicture] [nvarchar](max) NULL,
	[LoyaltyPoints] [int] NOT NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250908142947_user_mig', N'9.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250908151425_book_review_mig', N'9.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250917143524_favorites_mig', N'9.0.8')
GO
SET IDENTITY_INSERT [dbo].[book] ON 

SET IDENTITY_INSERT [dbo].[book] OFF
GO
SET IDENTITY_INSERT [dbo].[ChatMessage] ON 

INSERT [dbo].[ChatMessage] ([Id], [SenderId], [ReceiverId], [Text], [Timestamp], [IsRead]) VALUES (1, 4, 2, N'hi', CAST(N'2026-05-31T08:40:46.3854840' AS DateTime2), 1)
INSERT [dbo].[ChatMessage] ([Id], [SenderId], [ReceiverId], [Text], [Timestamp], [IsRead]) VALUES (2, 2, 4, N'hello', CAST(N'2026-05-31T08:41:31.6583736' AS DateTime2), 1)
INSERT [dbo].[ChatMessage] ([Id], [SenderId], [ReceiverId], [Text], [Timestamp], [IsRead]) VALUES (3, 4, 2, N'i have a book for you', CAST(N'2026-05-31T08:47:57.2111465' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[ChatMessage] OFF
GO
SET IDENTITY_INSERT [dbo].[Favorite] ON 

INSERT [dbo].[Favorite] ([FavoriteId], [UserId], [BookId], [FolderId]) VALUES (7, 2, 1, 1)
INSERT [dbo].[Favorite] ([FavoriteId], [UserId], [BookId], [FolderId]) VALUES (13, 2, 2, 1)
INSERT [dbo].[Favorite] ([FavoriteId], [UserId], [BookId], [FolderId]) VALUES (14, 2, 3, 2)
SET IDENTITY_INSERT [dbo].[Favorite] OFF
GO
SET IDENTITY_INSERT [dbo].[Folder] ON 

INSERT [dbo].[Folder] ([FolderId], [FolderName], [UserId]) VALUES (1, N'Favs', 2)
INSERT [dbo].[Folder] ([FolderId], [FolderName], [UserId]) VALUES (2, N'Most Wanted', 2)
SET IDENTITY_INSERT [dbo].[Folder] OFF
GO
SET IDENTITY_INSERT [dbo].[Notification] ON 

INSERT [dbo].[Notification] ([NotificationId], [UserId], [Message], [CreatedAt], [IsRead], [TargetUrl], [OrderId]) VALUES (1, 12, N'Statusul comenzii tale #1015 a fost actualizat în: Confirmed.', CAST(N'2026-02-21T12:23:02.9089734' AS DateTime2), 1, N'/my-orders', 1015)
INSERT [dbo].[Notification] ([NotificationId], [UserId], [Message], [CreatedAt], [IsRead], [TargetUrl], [OrderId]) VALUES (2, 2, N'Statusul comenzii tale #8 a fost actualizat în: Shipped.', CAST(N'2026-02-21T12:24:59.7347581' AS DateTime2), 1, N'/my-orders', 8)
INSERT [dbo].[Notification] ([NotificationId], [UserId], [Message], [CreatedAt], [IsRead], [TargetUrl], [OrderId]) VALUES (3, 2, N'Statusul comenzii tale #5 a fost actualizat în: Confirmed.', CAST(N'2026-02-21T12:33:41.8231207' AS DateTime2), 1, N'/my-orders', 5)
SET IDENTITY_INSERT [dbo].[Notification] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderId], [OrderDate], [TotalAmount], [UserId], [City], [PaymentMethod], [PhoneNumber], [ShippingAddress], [LastUpdated], [Status], [SellerId]) VALUES (1, CAST(N'2026-01-18T21:30:53.3011037' AS DateTime2), CAST(35.00 AS Decimal(18, 2)), 2, N'', N'', N'', N'', CAST(N'2026-02-21T12:44:47.6302863' AS DateTime2), 3, NULL)
INSERT [dbo].[Order] ([OrderId], [OrderDate], [TotalAmount], [UserId], [City], [PaymentMethod], [PhoneNumber], [ShippingAddress], [LastUpdated], [Status], [SellerId]) VALUES (2, CAST(N'2026-01-18T21:34:04.7657323' AS DateTime2), CAST(150.00 AS Decimal(18, 2)), 2, N'', N'', N'', N'', CAST(N'2026-02-21T12:34:31.3374403' AS DateTime2), 1, NULL)
INSERT [dbo].[Order] ([OrderId], [OrderDate], [TotalAmount], [UserId], [City], [PaymentMethod], [PhoneNumber], [ShippingAddress], [LastUpdated], [Status], [SellerId]) VALUES (3, CAST(N'2026-01-19T09:51:26.9377462' AS DateTime2), CAST(68.00 AS Decimal(18, 2)), 2, N'', N'', N'', N'', CAST(N'2026-02-21T13:53:00.6674516' AS DateTime2), 4, NULL)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItem] ON 

INSERT [dbo].[OrderItem] ([OrderItemId], [Quantity], [UnitPrice], [OrderId], [BookId]) VALUES (1, 1, CAST(35.00 AS Decimal(18, 2)), 1, 1005)
INSERT [dbo].[OrderItem] ([OrderItemId], [Quantity], [UnitPrice], [OrderId], [BookId]) VALUES (2, 1, CAST(50.00 AS Decimal(18, 2)), 2, 1)
INSERT [dbo].[OrderItem] ([OrderItemId], [Quantity], [UnitPrice], [OrderId], [BookId]) VALUES (3, 1, CAST(50.00 AS Decimal(18, 2)), 2, 2)
SET IDENTITY_INSERT [dbo].[OrderItem] OFF
GO
SET IDENTITY_INSERT [dbo].[Review] ON 

INSERT [dbo].[Review] ([ReviewId], [Rating], [Comment], [CreatedAt], [GuestName], [BookId], [UserId]) VALUES (5, 5, N'Cartea mea preferata, recomand.', CAST(N'2025-09-14T14:24:49.7063808' AS DateTime2), NULL, 1, 2)
INSERT [dbo].[Review] ([ReviewId], [Rating], [Comment], [CreatedAt], [GuestName], [BookId], [UserId]) VALUES (6, 0, N'E mai buna prima, putin plictisitoare', CAST(N'2025-09-14T14:30:54.0131384' AS DateTime2), NULL, 2, 2)
INSERT [dbo].[Review] ([ReviewId], [Rating], [Comment], [CreatedAt], [GuestName], [BookId], [UserId]) VALUES (7, 3, N'M-a plictisit!', CAST(N'2025-09-14T14:46:49.9398803' AS DateTime2), NULL, 2, 4)
SET IDENTITY_INSERT [dbo].[Review] OFF
GO
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([UserId], [UserName], [Password], [Role], [UserEmail], [IsSubscribed], [ProfilePicture], [LoyaltyPoints]) VALUES (1, N'admin', N'admin123', N'Administrator', NULL, 2, N'https://cdn-icons-png.flaticon.com/512/3532/3532840.png', 0)
INSERT [dbo].[user] ([UserId], [UserName], [Password], [Role], [UserEmail], [IsSubscribed], [ProfilePicture], [LoyaltyPoints]) VALUES (2, N'AmaliaD', N'Amalia2004', N'Manager', N'dspamalia@gmail.com', 2, N'https://cdn-icons-png.flaticon.com/512/1903/1903162.png', 0)
INSERT [dbo].[user] ([UserId], [UserName], [Password], [Role], [UserEmail], [IsSubscribed], [ProfilePicture], [LoyaltyPoints]) VALUES (4, N'Melania', N'melania', N'User', N'dspmelania@gmail.com', 2, N'https://cdn-icons-png.flaticon.com/512/1903/1903172.png', 0)
SET IDENTITY_INSERT [dbo].[user] OFF
GO
/****** Object:  Index [IX_AIInteraction_BookId]    Script Date: 02.06.2026 17:36:23 ******/
CREATE NONCLUSTERED INDEX [IX_AIInteraction_BookId] ON [dbo].[AIInteraction]
(
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AIInteraction_UserId]    Script Date: 02.06.2026 17:36:23 ******/
CREATE NONCLUSTERED INDEX [IX_AIInteraction_UserId] ON [dbo].[AIInteraction]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_book_SellerId]    Script Date: 02.06.2026 17:36:23 ******/
CREATE NONCLUSTERED INDEX [IX_book_SellerId] ON [dbo].[book]
(
	[SellerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChatMessage_ReceiverId]    Script Date: 02.06.2026 17:36:23 ******/
CREATE NONCLUSTERED INDEX [IX_ChatMessage_ReceiverId] ON [dbo].[ChatMessage]
(
	[ReceiverId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChatMessage_SenderId]    Script Date: 02.06.2026 17:36:23 ******/
CREATE NONCLUSTERED INDEX [IX_ChatMessage_SenderId] ON [dbo].[ChatMessage]
(
	[SenderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Favorite_BookId]    Script Date: 02.06.2026 17:36:23 ******/
CREATE NONCLUSTERED INDEX [IX_Favorite_BookId] ON [dbo].[Favorite]
(
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Favorite_FolderId]    Script Date: 02.06.2026 17:36:23 ******/
CREATE NONCLUSTERED INDEX [IX_Favorite_FolderId] ON [dbo].[Favorite]
(
	[FolderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Favorite_UserId]    Script Date: 02.06.2026 17:36:23 ******/
CREATE NONCLUSTERED INDEX [IX_Favorite_UserId] ON [dbo].[Favorite]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Folder_UserId]    Script Date: 02.06.2026 17:36:23 ******/
CREATE NONCLUSTERED INDEX [IX_Folder_UserId] ON [dbo].[Folder]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notification_OrderId]    Script Date: 02.06.2026 17:36:23 ******/
CREATE NONCLUSTERED INDEX [IX_Notification_OrderId] ON [dbo].[Notification]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notification_UserId]    Script Date: 02.06.2026 17:36:23 ******/
CREATE NONCLUSTERED INDEX [IX_Notification_UserId] ON [dbo].[Notification]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderItem_BookId]    Script Date: 02.06.2026 17:36:23 ******/
CREATE NONCLUSTERED INDEX [IX_OrderItem_BookId] ON [dbo].[OrderItem]
(
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderItem_OrderId]    Script Date: 02.06.2026 17:36:23 ******/
CREATE NONCLUSTERED INDEX [IX_OrderItem_OrderId] ON [dbo].[OrderItem]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Review_BookId]    Script Date: 02.06.2026 17:36:23 ******/
CREATE NONCLUSTERED INDEX [IX_Review_BookId] ON [dbo].[Review]
(
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Review_UserId]    Script Date: 02.06.2026 17:36:23 ******/
CREATE NONCLUSTERED INDEX [IX_Review_UserId] ON [dbo].[Review]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[book] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [DatePosted]
GO
ALTER TABLE [dbo].[ChatMessage] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsRead]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT (N'') FOR [City]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT (N'') FOR [PaymentMethod]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT (N'') FOR [PhoneNumber]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT (N'') FOR [ShippingAddress]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [LastUpdated]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT ((0)) FOR [LoyaltyPoints]
GO
ALTER TABLE [dbo].[AIInteraction]  WITH CHECK ADD  CONSTRAINT [FK_AIInteraction_book_BookId] FOREIGN KEY([BookId])
REFERENCES [dbo].[book] ([BookId])
GO
ALTER TABLE [dbo].[AIInteraction] CHECK CONSTRAINT [FK_AIInteraction_book_BookId]
GO
ALTER TABLE [dbo].[AIInteraction]  WITH CHECK ADD  CONSTRAINT [FK_AIInteraction_user_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[user] ([UserId])
GO
ALTER TABLE [dbo].[AIInteraction] CHECK CONSTRAINT [FK_AIInteraction_user_UserId]
GO
ALTER TABLE [dbo].[book]  WITH CHECK ADD  CONSTRAINT [FK_book_user_SellerId] FOREIGN KEY([SellerId])
REFERENCES [dbo].[user] ([UserId])
GO
ALTER TABLE [dbo].[book] CHECK CONSTRAINT [FK_book_user_SellerId]
GO
ALTER TABLE [dbo].[ChatMessage]  WITH CHECK ADD  CONSTRAINT [FK_ChatMessage_user_ReceiverId] FOREIGN KEY([ReceiverId])
REFERENCES [dbo].[user] ([UserId])
GO
ALTER TABLE [dbo].[ChatMessage] CHECK CONSTRAINT [FK_ChatMessage_user_ReceiverId]
GO
ALTER TABLE [dbo].[ChatMessage]  WITH CHECK ADD  CONSTRAINT [FK_ChatMessage_user_SenderId] FOREIGN KEY([SenderId])
REFERENCES [dbo].[user] ([UserId])
GO
ALTER TABLE [dbo].[ChatMessage] CHECK CONSTRAINT [FK_ChatMessage_user_SenderId]
GO
ALTER TABLE [dbo].[Favorite]  WITH CHECK ADD  CONSTRAINT [FK_Favorite_book_BookId] FOREIGN KEY([BookId])
REFERENCES [dbo].[book] ([BookId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Favorite] CHECK CONSTRAINT [FK_Favorite_book_BookId]
GO
ALTER TABLE [dbo].[Favorite]  WITH CHECK ADD  CONSTRAINT [FK_Favorite_Folder_FolderId] FOREIGN KEY([FolderId])
REFERENCES [dbo].[Folder] ([FolderId])
GO
ALTER TABLE [dbo].[Favorite] CHECK CONSTRAINT [FK_Favorite_Folder_FolderId]
GO
ALTER TABLE [dbo].[Favorite]  WITH CHECK ADD  CONSTRAINT [FK_Favorite_user_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[user] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Favorite] CHECK CONSTRAINT [FK_Favorite_user_UserId]
GO
ALTER TABLE [dbo].[Folder]  WITH CHECK ADD  CONSTRAINT [FK_Folder_user_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[user] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Folder] CHECK CONSTRAINT [FK_Folder_user_UserId]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_Order_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderId])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_Order_OrderId]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_user_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[user] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_user_UserId]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_book_BookId] FOREIGN KEY([BookId])
REFERENCES [dbo].[book] ([BookId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_book_BookId]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_Order_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_Order_OrderId]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_book_BookId] FOREIGN KEY([BookId])
REFERENCES [dbo].[book] ([BookId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_book_BookId]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_user_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[user] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_user_UserId]
GO
USE [master]
GO
